{
    "data_scenario": "custom",
    "bk_biz_id": {{ bk_biz_id }},
    "access_raw_data": {
        "bk_biz_id": {{ bk_biz_id }},
        "raw_data_name": "{{raw_data_name}}",
        "raw_data_alias": "{{raw_data_alias}}",
        "data_source_tags": ["server"],
        "data_region": "inland",
        "data_encoding": "UTF-8",
        "sensitivity": "private",
        "description": "{{raw_data_alias}}",
        "maintainer": "admin"
    },
    "description": "{{raw_data_alias}}"
}