*.egg-info
*.pot
*.py[co]
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
tests/report/
logs/
Envs/
build/
templates_module/
.project
.pydevproject
.settings/
.vscode
.DS_Store
var/
.pizza
.env
\#*
.\#*
*swp
.idea
*.pid
.pytest_cache
migrations/
mako_modules/
.git/