{
    target(func: eq({{ dgraph_entity_id_field }}, "{{ dgraph_entity_id }}")) @recurse(depth: {{ depth }}) {
        uid
        AccessRawData.id
        DataProcessing.processing_id
        ResultTable.result_table_id
        ResultTable.generate_type
        DataProcessing.generate_type
        {{ relation }}: {{ relation_predicate }}
    }
}