.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.json
index.html
static/web_worker
static/dist
# Extends Old Package
src/extends/packages.old
src/extends/packages
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
