-c ../requirements.txt

amqp==2.6.1
arrow==1.1.0
attrs==20.3.0
backports.functools-lru-cache==1.5
cached-property==1.5.1
cattrs==1.0.0
celery==4.4.7
certifi==2020.12.5
chardet==3.0.4
crate==0.20.0
cython==0.24.1
django-celery-beat==2.0.0
django-celery-results==1.2.1
django-filter==2.0.0
django-redis==4.10.0
django-reversion==2.0.9
django==2.2.20
django_opentracing==1.1.0
djangorestframework==3.12.4
elasticsearch==6.3.1
enum34==1.1.6
# expiringdict==1.1.3
fastavro==0.14.2
gevent==20.9.0
greenlet==1.0.0
gunicorn==19.6.0
httplib2==0.7.3
idna==2.8
influxdb==4.1.0
jaeger-client==4.3.0
jpype1==1.2.1
jsonext==0.4.2
kafka-python==1.4.2
kazoo==2.5.0
kombu==4.6.11
logstash-formatter==0.5.16
mako==1.0.5
markdown==2.6.6
markupSafe==0.23
meld3==1.0.2
more-itertools==5.0.0
mysqlclient==2.0.3
numpy==1.19.5
openpyxl==2.5.9
opentracing_instrumentation==3.3.1
pandas==1.1.5
parquet==1.2
pika==0.11.0
portalocker==2.3.0
presto-python-client==0.7.0
pycrypto==2.6.1
# pyhive[hive]==0.6.1
pymysql==1.0.2
pyparsing==2.1.10
pyquery==1.3.0
python-consul==0.7.0
python-dateutil==2.8.1
python-etcd==0.4.5
python-snappy==0.6.0
pytz==2021.1
pyyaml==5.1
redis-py-cluster==1.3.4
redis==2.10.5
requests-toolbelt==0.8.0
requests==2.22.0
six==1.15.0
sqlparse==0.4.1
supervisor==4.2.1
tinyrpc==1.0.4
tblib==1.3.2
thrift==0.13.0
thrift_connector==0.12
urllib3==1.25.11
uwsgi==2.0.19
vine==1.3.0
werkzeug==0.14.1
xlrd==1.1.0
concurrent_log_handler>=0.9.19

# 自研包
metadata_sdk==0.3.3
