{
    "model_detail": {
        "indicators": [],
        "fields": [
              {
                "model_id": 393,
                "field_alias": "采集方式",
                "description": null,
                "field_type": "string",
                "field_category": "dimension",
                "field_name": "bkpub_collect_method",
                "origin_fields": [
                  "bkpub_collect_method"
                ],
                "editable": true,
                "is_primary_key": false,
                "is_join_field": false,
                "editable_deletable_info": {
                  "is_used_by_other_fields": false,
                  "is_used_by_calc_atom": false,
                  "is_condition_field": false,
                  "is_aggregation_field": false,
                  "is_join_field": false,
                  "fields": [],
                  "is_extended_field_deletable_editable": true
                },
                "field_clean_content": null,
                "is_extended_field": false,
                "deletable": true,
                "editable_field_type": true,
                "field_index": 0,
                "source_model_id": null,
                "field_constraint_content": null,
                "id": 1573,
                "join_field_name": null,
                "source_field_name": null,
                "uid": "__mst_rt_field_id_4d16f7"
              },
              {
                "model_id": 393,
                "field_alias": "事件类型",
                "description": null,
                "field_type": "string",
                "field_category": "dimension",
                "field_name": "bkpub_event_type",
                "origin_fields": [
                  "bkpub_event_type"
                ],
                "editable": true,
                "is_primary_key": false,
                "is_join_field": false,
                "editable_deletable_info": {
                  "is_used_by_other_fields": false,
                  "is_used_by_calc_atom": false,
                  "is_condition_field": false,
                  "is_aggregation_field": false,
                  "is_join_field": false,
                  "fields": [],
                  "is_extended_field_deletable_editable": true
                },
                "field_clean_content": null,
                "is_extended_field": false,
                "deletable": true,
                "editable_field_type": true,
                "field_index": 1,
                "source_model_id": null,
                "field_constraint_content": null,
                "id": 1556,
                "join_field_name": null,
                "source_field_name": null,
                "uid": "__mst_rt_field_id_19431c"
              },
              {
                "model_id": 393,
                "field_alias": "采集时间",
                "description": null,
                "field_type": "long",
                "field_category": "dimension",
                "field_name": "bkpub_collect_time",
                "origin_fields": [
                  "bkpub_collect_time"
                ],
                "editable": true,
                "is_primary_key": false,
                "is_join_field": false,
                "editable_deletable_info": {
                  "is_used_by_other_fields": false,
                  "is_used_by_calc_atom": false,
                  "is_condition_field": false,
                  "is_aggregation_field": false,
                  "is_join_field": false,
                  "fields": [],
                  "is_extended_field_deletable_editable": true
                },
                "field_clean_content": null,
                "is_extended_field": false,
                "deletable": true,
                "editable_field_type": true,
                "field_index": 2,
                "source_model_id": null,
                "field_constraint_content": null,
                "id": 1559,
                "join_field_name": null,
                "source_field_name": null,
                "uid": "__mst_rt_field_id_c71bbf"
              },
              {
                "model_id": 393,
                "field_alias": "用户英文名",
                "description": null,
                "field_type": "string",
                "field_category": "dimension",
                "field_name": "username",
                "origin_fields": [
                  "username"
                ],
                "editable": true,
                "is_primary_key": false,
                "is_join_field": false,
                "editable_deletable_info": {
                  "is_used_by_other_fields": false,
                  "is_used_by_calc_atom": false,
                  "is_condition_field": false,
                  "is_aggregation_field": false,
                  "is_join_field": false,
                  "fields": [],
                  "is_extended_field_deletable_editable": true
                },
                "field_clean_content": null,
                "is_extended_field": false,
                "deletable": true,
                "editable_field_type": true,
                "field_index": 3,
                "source_model_id": null,
                "field_constraint_content": null,
                "id": 1554,
                "join_field_name": null,
                "source_field_name": null,
                "uid": "__mst_rt_field_id_339812"
              },
              {
                "model_id": 393,
                "field_alias": "用户域",
                "description": null,
                "field_type": "string",
                "field_category": "dimension",
                "field_name": "domain",
                "origin_fields": [
                  "domain"
                ],
                "editable": true,
                "is_primary_key": false,
                "is_join_field": false,
                "editable_deletable_info": {
                  "is_used_by_other_fields": false,
                  "is_used_by_calc_atom": false,
                  "is_condition_field": false,
                  "is_aggregation_field": false,
                  "is_join_field": false,
                  "fields": [],
                  "is_extended_field_deletable_editable": true
                },
                "field_clean_content": null,
                "is_extended_field": false,
                "deletable": true,
                "editable_field_type": true,
                "field_index": 4,
                "source_model_id": null,
                "field_constraint_content": null,
                "id": 1555,
                "join_field_name": null,
                "source_field_name": null,
                "uid": "__mst_rt_field_id_90eef3"
              },
              {
                "model_id": 393,
                "field_alias": "创建时间",
                "description": null,
                "field_type": "string",
                "field_category": "dimension",
                "field_name": "create_time",
                "origin_fields": [
                  "create_time"
                ],
                "editable": true,
                "is_primary_key": false,
                "is_join_field": false,
                "editable_deletable_info": {
                  "is_used_by_other_fields": false,
                  "is_used_by_calc_atom": false,
                  "is_condition_field": false,
                  "is_aggregation_field": false,
                  "is_join_field": false,
                  "fields": [],
                  "is_extended_field_deletable_editable": true
                },
                "field_clean_content": null,
                "is_extended_field": false,
                "deletable": true,
                "editable_field_type": true,
                "field_index": 5,
                "source_model_id": null,
                "field_constraint_content": null,
                "id": 1560,
                "join_field_name": null,
                "source_field_name": null,
                "uid": "__mst_rt_field_id_9b3fdb"
              },
              {
                "model_id": 393,
                "field_alias": "主部门",
                "description": null,
                "field_type": "string",
                "field_category": "dimension",
                "field_name": "main_department_id",
                "origin_fields": [
                  "main_department_id"
                ],
                "editable": true,
                "is_primary_key": false,
                "is_join_field": false,
                "editable_deletable_info": {
                  "is_used_by_other_fields": false,
                  "is_used_by_calc_atom": false,
                  "is_condition_field": false,
                  "is_aggregation_field": false,
                  "is_join_field": false,
                  "fields": [],
                  "is_extended_field_deletable_editable": true
                },
                "field_clean_content": null,
                "is_extended_field": false,
                "deletable": true,
                "editable_field_type": true,
                "field_index": 6,
                "source_model_id": null,
                "field_constraint_content": null,
                "id": 1570,
                "join_field_name": null,
                "source_field_name": null,
                "uid": "__mst_rt_field_id_484117"
              },
              {
                "model_id": 393,
                "field_alias": "国家码",
                "description": null,
                "field_type": "string",
                "field_category": "dimension",
                "field_name": "country_code",
                "origin_fields": [
                  "country_code"
                ],
                "editable": true,
                "is_primary_key": false,
                "is_join_field": false,
                "editable_deletable_info": {
                  "is_used_by_other_fields": false,
                  "is_used_by_calc_atom": false,
                  "is_condition_field": false,
                  "is_aggregation_field": false,
                  "is_join_field": false,
                  "fields": [],
                  "is_extended_field_deletable_editable": true
                },
                "field_clean_content": null,
                "is_extended_field": false,
                "deletable": true,
                "editable_field_type": true,
                "field_index": 7,
                "source_model_id": null,
                "field_constraint_content": null,
                "id": 1562,
                "join_field_name": null,
                "source_field_name": null,
                "uid": "__mst_rt_field_id_117ce8"
              },
              {
                "model_id": 393,
                "field_alias": "logo",
                "description": null,
                "field_type": "string",
                "field_category": "dimension",
                "field_name": "logo",
                "origin_fields": [
                  "logo"
                ],
                "editable": true,
                "is_primary_key": false,
                "is_join_field": false,
                "editable_deletable_info": {
                  "is_used_by_other_fields": false,
                  "is_used_by_calc_atom": false,
                  "is_condition_field": false,
                  "is_aggregation_field": false,
                  "is_join_field": false,
                  "fields": [],
                  "is_extended_field_deletable_editable": true
                },
                "field_clean_content": null,
                "is_extended_field": false,
                "deletable": true,
                "editable_field_type": true,
                "field_index": 8,
                "source_model_id": null,
                "field_constraint_content": null,
                "id": 1564,
                "join_field_name": null,
                "source_field_name": null,
                "uid": "__mst_rt_field_id_ae5535"
              },
              {
                "model_id": 393,
                "field_alias": "国家标准代号",
                "description": null,
                "field_type": "string",
                "field_category": "dimension",
                "field_name": "iso_code",
                "origin_fields": [
                  "iso_code"
                ],
                "editable": true,
                "is_primary_key": false,
                "is_join_field": false,
                "editable_deletable_info": {
                  "is_used_by_other_fields": false,
                  "is_used_by_calc_atom": false,
                  "is_condition_field": false,
                  "is_aggregation_field": false,
                  "is_join_field": false,
                  "fields": [],
                  "is_extended_field_deletable_editable": true
                },
                "field_clean_content": null,
                "is_extended_field": false,
                "deletable": true,
                "editable_field_type": true,
                "field_index": 9,
                "source_model_id": null,
                "field_constraint_content": null,
                "id": 1563,
                "join_field_name": null,
                "source_field_name": null,
                "uid": "__mst_rt_field_id_721373"
              },
              {
                "model_id": 393,
                "field_alias": "id",
                "description": null,
                "field_type": "string",
                "field_category": "dimension",
                "field_name": "id",
                "origin_fields": [
                  "id"
                ],
                "editable": true,
                "is_primary_key": true,
                "is_join_field": false,
                "editable_deletable_info": {
                  "is_used_by_other_fields": false,
                  "is_used_by_calc_atom": false,
                  "is_condition_field": false,
                  "is_aggregation_field": false,
                  "is_join_field": false,
                  "fields": [],
                  "is_extended_field_deletable_editable": true
                },
                "field_clean_content": null,
                "is_extended_field": false,
                "deletable": true,
                "editable_field_type": true,
                "field_index": 10,
                "source_model_id": null,
                "field_constraint_content": null,
                "id": 1565,
                "join_field_name": null,
                "source_field_name": null,
                "uid": "__mst_rt_field_id_e6b21b"
              },
              {
                "model_id": 393,
                "field_alias": "显示名",
                "description": null,
                "field_type": "string",
                "field_category": "dimension",
                "field_name": "display_name",
                "origin_fields": [
                  "display_name"
                ],
                "editable": true,
                "is_primary_key": false,
                "is_join_field": false,
                "editable_deletable_info": {
                  "is_used_by_other_fields": false,
                  "is_used_by_calc_atom": false,
                  "is_condition_field": false,
                  "is_aggregation_field": false,
                  "is_join_field": false,
                  "fields": [],
                  "is_extended_field_deletable_editable": true
                },
                "field_clean_content": null,
                "is_extended_field": false,
                "deletable": true,
                "editable_field_type": true,
                "field_index": 11,
                "source_model_id": null,
                "field_constraint_content": null,
                "id": 1566,
                "join_field_name": null,
                "source_field_name": null,
                "uid": "__mst_rt_field_id_6b347d"
              },
              {
                "model_id": 393,
                "field_alias": "主部门",
                "description": null,
                "field_type": "string",
                "field_category": "dimension",
                "field_name": "main_department",
                "origin_fields": [
                  "main_department"
                ],
                "editable": true,
                "is_primary_key": false,
                "is_join_field": false,
                "editable_deletable_info": {
                  "is_used_by_other_fields": false,
                  "is_used_by_calc_atom": false,
                  "is_condition_field": false,
                  "is_aggregation_field": false,
                  "is_join_field": false,
                  "fields": [],
                  "is_extended_field_deletable_editable": true
                },
                "field_clean_content": null,
                "is_extended_field": false,
                "deletable": true,
                "editable_field_type": true,
                "field_index": 12,
                "source_model_id": null,
                "field_constraint_content": null,
                "id": 1575,
                "join_field_name": null,
                "source_field_name": null,
                "uid": "__mst_rt_field_id_a01bf6"
              },
              {
                "model_id": 393,
                "field_alias": "上级领导列表",
                "description": null,
                "field_type": "string",
                "field_category": "dimension",
                "field_name": "leader",
                "origin_fields": [
                  "leader"
                ],
                "editable": true,
                "is_primary_key": false,
                "is_join_field": false,
                "editable_deletable_info": {
                  "is_used_by_other_fields": false,
                  "is_used_by_calc_atom": false,
                  "is_condition_field": false,
                  "is_aggregation_field": false,
                  "is_join_field": false,
                  "fields": [],
                  "is_extended_field_deletable_editable": true
                },
                "field_clean_content": null,
                "is_extended_field": false,
                "deletable": true,
                "editable_field_type": true,
                "field_index": 13,
                "source_model_id": null,
                "field_constraint_content": null,
                "id": 1578,
                "join_field_name": null,
                "source_field_name": null,
                "uid": "__mst_rt_field_id_fc8b95"
              },
              {
                "model_id": 393,
                "field_alias": "状态",
                "description": null,
                "field_type": "string",
                "field_category": "dimension",
                "field_name": "status",
                "origin_fields": [
                  "status"
                ],
                "editable": true,
                "is_primary_key": false,
                "is_join_field": false,
                "editable_deletable_info": {
                  "is_used_by_other_fields": false,
                  "is_used_by_calc_atom": false,
                  "is_condition_field": false,
                  "is_aggregation_field": false,
                  "is_join_field": false,
                  "fields": [],
                  "is_extended_field_deletable_editable": true
                },
                "field_clean_content": null,
                "is_extended_field": false,
                "deletable": true,
                "editable_field_type": true,
                "field_index": 14,
                "source_model_id": null,
                "field_constraint_content": null,
                "id": 1553,
                "join_field_name": null,
                "source_field_name": null,
                "uid": "__mst_rt_field_id_a449f3"
              },
              {
                "model_id": 393,
                "field_alias": "更新时间",
                "description": null,
                "field_type": "string",
                "field_category": "dimension",
                "field_name": "update_time",
                "origin_fields": [
                  "update_time"
                ],
                "editable": true,
                "is_primary_key": false,
                "is_join_field": false,
                "editable_deletable_info": {
                  "is_used_by_other_fields": false,
                  "is_used_by_calc_atom": false,
                  "is_condition_field": false,
                  "is_aggregation_field": false,
                  "is_join_field": false,
                  "fields": [],
                  "is_extended_field_deletable_editable": true
                },
                "field_clean_content": null,
                "is_extended_field": false,
                "deletable": true,
                "editable_field_type": true,
                "field_index": 15,
                "source_model_id": null,
                "field_constraint_content": null,
                "id": 1558,
                "join_field_name": null,
                "source_field_name": null,
                "uid": "__mst_rt_field_id_d48370"
              },
              {
                "model_id": 393,
                "field_alias": "职工状态",
                "description": null,
                "field_type": "string",
                "field_category": "dimension",
                "field_name": "staff_status",
                "origin_fields": [
                  "staff_status"
                ],
                "editable": true,
                "is_primary_key": false,
                "is_join_field": false,
                "editable_deletable_info": {
                  "is_used_by_other_fields": false,
                  "is_used_by_calc_atom": false,
                  "is_condition_field": false,
                  "is_aggregation_field": false,
                  "is_join_field": false,
                  "fields": [],
                  "is_extended_field_deletable_editable": true
                },
                "field_clean_content": null,
                "is_extended_field": false,
                "deletable": true,
                "editable_field_type": true,
                "field_index": 16,
                "source_model_id": null,
                "field_constraint_content": null,
                "id": 1557,
                "join_field_name": null,
                "source_field_name": null,
                "uid": "__mst_rt_field_id_5436c8"
              },
              {
                "model_id": 393,
                "field_alias": "语言",
                "description": null,
                "field_type": "string",
                "field_category": "dimension",
                "field_name": "language",
                "origin_fields": [
                  "language"
                ],
                "editable": true,
                "is_primary_key": false,
                "is_join_field": false,
                "editable_deletable_info": {
                  "is_used_by_other_fields": false,
                  "is_used_by_calc_atom": false,
                  "is_condition_field": false,
                  "is_aggregation_field": false,
                  "is_join_field": false,
                  "fields": [],
                  "is_extended_field_deletable_editable": true
                },
                "field_clean_content": null,
                "is_extended_field": false,
                "deletable": true,
                "editable_field_type": true,
                "field_index": 17,
                "source_model_id": null,
                "field_constraint_content": null,
                "id": 1567,
                "join_field_name": null,
                "source_field_name": null,
                "uid": "__mst_rt_field_id_2c8ddf"
              },
              {
                "model_id": 393,
                "field_alias": "启用状态",
                "description": null,
                "field_type": "string",
                "field_category": "dimension",
                "field_name": "enabled",
                "origin_fields": [
                  "enabled"
                ],
                "editable": true,
                "is_primary_key": false,
                "is_join_field": false,
                "editable_deletable_info": {
                  "is_used_by_other_fields": false,
                  "is_used_by_calc_atom": false,
                  "is_condition_field": false,
                  "is_aggregation_field": false,
                  "is_join_field": false,
                  "fields": [],
                  "is_extended_field_deletable_editable": true
                },
                "field_clean_content": null,
                "is_extended_field": false,
                "deletable": true,
                "editable_field_type": true,
                "field_index": 18,
                "source_model_id": null,
                "field_constraint_content": null,
                "id": 1568,
                "join_field_name": null,
                "source_field_name": null,
                "uid": "__mst_rt_field_id_0a33e2"
              },
              {
                "model_id": 393,
                "field_alias": "时区",
                "description": null,
                "field_type": "string",
                "field_category": "dimension",
                "field_name": "time_zone",
                "origin_fields": [
                  "time_zone"
                ],
                "editable": true,
                "is_primary_key": false,
                "is_join_field": false,
                "editable_deletable_info": {
                  "is_used_by_other_fields": false,
                  "is_used_by_calc_atom": false,
                  "is_condition_field": false,
                  "is_aggregation_field": false,
                  "is_join_field": false,
                  "fields": [],
                  "is_extended_field_deletable_editable": true
                },
                "field_clean_content": null,
                "is_extended_field": false,
                "deletable": true,
                "editable_field_type": true,
                "field_index": 19,
                "source_model_id": null,
                "field_constraint_content": null,
                "id": 1569,
                "join_field_name": null,
                "source_field_name": null,
                "uid": "__mst_rt_field_id_2e7d7d"
              },
              {
                "model_id": 393,
                "field_alias": "部门列表",
                "description": null,
                "field_type": "string",
                "field_category": "dimension",
                "field_name": "departments",
                "origin_fields": [
                  "departments"
                ],
                "editable": true,
                "is_primary_key": false,
                "is_join_field": false,
                "editable_deletable_info": {
                  "is_used_by_other_fields": false,
                  "is_used_by_calc_atom": false,
                  "is_condition_field": false,
                  "is_aggregation_field": false,
                  "is_join_field": false,
                  "fields": [],
                  "is_extended_field_deletable_editable": true
                },
                "field_clean_content": null,
                "is_extended_field": false,
                "deletable": true,
                "editable_field_type": true,
                "field_index": 20,
                "source_model_id": null,
                "field_constraint_content": null,
                "id": 1561,
                "join_field_name": null,
                "source_field_name": null,
                "uid": "__mst_rt_field_id_1245b8"
              },
              {
                "model_id": 393,
                "field_alias": "邮箱",
                "description": null,
                "field_type": "string",
                "field_category": "dimension",
                "field_name": "email",
                "origin_fields": [
                  "email"
                ],
                "editable": true,
                "is_primary_key": false,
                "is_join_field": false,
                "editable_deletable_info": {
                  "is_used_by_other_fields": false,
                  "is_used_by_calc_atom": false,
                  "is_condition_field": false,
                  "is_aggregation_field": false,
                  "is_join_field": false,
                  "fields": [],
                  "is_extended_field_deletable_editable": true
                },
                "field_clean_content": null,
                "is_extended_field": false,
                "deletable": true,
                "editable_field_type": true,
                "field_index": 21,
                "source_model_id": null,
                "field_constraint_content": null,
                "id": 1571,
                "join_field_name": null,
                "source_field_name": null,
                "uid": "__mst_rt_field_id_2e2b70"
              },
              {
                "model_id": 393,
                "field_alias": "附加信息",
                "description": null,
                "field_type": "string",
                "field_category": "dimension",
                "field_name": "extras",
                "origin_fields": [
                  "extras"
                ],
                "editable": true,
                "is_primary_key": false,
                "is_join_field": false,
                "editable_deletable_info": {
                  "is_used_by_other_fields": false,
                  "is_used_by_calc_atom": false,
                  "is_condition_field": false,
                  "is_aggregation_field": false,
                  "is_join_field": false,
                  "fields": [],
                  "is_extended_field_deletable_editable": true
                },
                "field_clean_content": null,
                "is_extended_field": false,
                "deletable": true,
                "editable_field_type": true,
                "field_index": 22,
                "source_model_id": null,
                "field_constraint_content": null,
                "id": 1572,
                "join_field_name": null,
                "source_field_name": null,
                "uid": "__mst_rt_field_id_cd123c"
              },
              {
                "model_id": 393,
                "field_alias": "位置",
                "description": null,
                "field_type": "string",
                "field_category": "dimension",
                "field_name": "position",
                "origin_fields": [
                  "position"
                ],
                "editable": true,
                "is_primary_key": false,
                "is_join_field": false,
                "editable_deletable_info": {
                  "is_used_by_other_fields": false,
                  "is_used_by_calc_atom": false,
                  "is_condition_field": false,
                  "is_aggregation_field": false,
                  "is_join_field": false,
                  "fields": [],
                  "is_extended_field_deletable_editable": true
                },
                "field_clean_content": null,
                "is_extended_field": false,
                "deletable": true,
                "editable_field_type": true,
                "field_index": 23,
                "source_model_id": null,
                "field_constraint_content": null,
                "id": 1576,
                "join_field_name": null,
                "source_field_name": null,
                "uid": "__mst_rt_field_id_ca33a9"
              },
              {
                "model_id": 393,
                "field_alias": "类别id",
                "description": null,
                "field_type": "string",
                "field_category": "dimension",
                "field_name": "category_id",
                "origin_fields": [
                  "category_id"
                ],
                "editable": true,
                "is_primary_key": false,
                "is_join_field": false,
                "editable_deletable_info": {
                  "is_used_by_other_fields": false,
                  "is_used_by_calc_atom": false,
                  "is_condition_field": false,
                  "is_aggregation_field": false,
                  "is_join_field": false,
                  "fields": [],
                  "is_extended_field_deletable_editable": true
                },
                "field_clean_content": null,
                "is_extended_field": false,
                "deletable": true,
                "editable_field_type": true,
                "field_index": 24,
                "source_model_id": null,
                "field_constraint_content": null,
                "id": 1577,
                "join_field_name": null,
                "source_field_name": null,
                "uid": "__mst_rt_field_id_c5c1c9"
              },
              {
                "model_id": 393,
                "field_alias": "时间字段",
                "description": "平台内置时间字段，数据入库后将转换为可查询字段，比如 dtEventTime、dtEventTimeStamp、localtime",
                "field_type": "timestamp",
                "field_category": "dimension",
                "field_name": "__time__",
                "origin_fields": [],
                "editable": true,
                "is_primary_key": false,
                "is_join_field": false,
                "editable_deletable_info": {
                  "is_used_by_other_fields": false,
                  "is_used_by_calc_atom": false,
                  "is_condition_field": false,
                  "is_aggregation_field": false,
                  "is_join_field": false,
                  "fields": [],
                  "is_extended_field_deletable_editable": true
                },
                "field_clean_content": null,
                "is_extended_field": false,
                "deletable": true,
                "editable_field_type": true,
                "field_index": 25,
                "source_model_id": null,
                "field_constraint_content": null,
                "id": 1574,
                "join_field_name": null,
                "source_field_name": null,
                "_disabled": false,
                "uid": "__time__9ab44d"
              }
            ],
        "model_relation": [],
        "calculation_atoms": []
    },
    "description": "bk usermanage 用户信息",
    "tags": [
        {
            "tag_alias": "用户状态",
            "tag_code": "user_status"
        },
        {
            "tag_alias": "用户运营",
            "tag_code": "user_operate"
        }
    ],
    "table_alias": "bk usermanage 用户信息",
    "model_alias": "bk usermanage 用户信息",
    "table_name": "{{ model_name }}",
    "model_type": "dimension_table",
    "project_id": {{ project_id }},
    "model_name": "{{ model_name }}"
}