{
    "model_detail": {
        "indicators": [],
        "fields": [
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "bk_service_status",
        "id": 614,
        "model_id": 41,
        "origin_fields": [
          "bk_service_status"
        ],
        "field_index": 1,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "服务状态",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "creator",
        "id": 615,
        "model_id": 41,
        "origin_fields": [
          "creator"
        ],
        "field_index": 2,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "创建者",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "bk_open_time",
        "id": 616,
        "model_id": 41,
        "origin_fields": [
          "bk_open_time"
        ],
        "field_index": 3,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "开启时间",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "area_ID",
        "id": 613,
        "model_id": 41,
        "origin_fields": [
          "area_ID"
        ],
        "field_index": 4,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "大区id",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "bk_platform",
        "id": 617,
        "model_id": 41,
        "origin_fields": [
          "bk_platform"
        ],
        "field_index": 5,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "平台",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "bk_customer",
        "id": 618,
        "model_id": 41,
        "origin_fields": [
          "bk_customer"
        ],
        "field_index": 6,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "用户",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "bk_is_gcs",
        "id": 619,
        "model_id": 41,
        "origin_fields": [
          "bk_is_gcs"
        ],
        "field_index": 7,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "是否gcs",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "create_time",
        "id": 646,
        "model_id": 41,
        "origin_fields": [
          "create_time"
        ],
        "field_index": 8,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "创建时间",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "worldID",
        "id": 621,
        "model_id": 41,
        "origin_fields": [
          "worldID"
        ],
        "field_index": 9,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "世界id",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "TclsWorldID",
        "id": 622,
        "model_id": 41,
        "origin_fields": [
          "TclsWorldID"
        ],
        "field_index": 10,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "tcls世界id",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "last_time",
        "id": 623,
        "model_id": 41,
        "origin_fields": [
          "last_time"
        ],
        "field_index": 11,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "最后修改时间",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "bk_set_env",
        "id": 625,
        "model_id": 41,
        "origin_fields": [
          "bk_set_env"
        ],
        "field_index": 12,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "集群环境",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "bk_enable_relate_webplat",
        "id": 624,
        "model_id": 41,
        "origin_fields": [
          "bk_enable_relate_webplat"
        ],
        "field_index": 13,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "与webplat关联",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "bk_outer_source",
        "id": 627,
        "model_id": 41,
        "origin_fields": [
          "bk_outer_source"
        ],
        "field_index": 14,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "外部来源",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "bk_capacity",
        "id": 628,
        "model_id": 41,
        "origin_fields": [
          "bk_capacity"
        ],
        "field_index": 15,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "容量",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "bk_alias_name",
        "id": 620,
        "model_id": 41,
        "origin_fields": [
          "bk_alias_name"
        ],
        "field_index": 16,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "别名",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "bk_operation_state",
        "id": 631,
        "model_id": 41,
        "origin_fields": [
          "bk_operation_state"
        ],
        "field_index": 17,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "韵味状态",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "bk_world_id",
        "id": 632,
        "model_id": 41,
        "origin_fields": [
          "bk_world_id"
        ],
        "field_index": 18,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "世界id",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "bk_category",
        "id": 635,
        "model_id": 41,
        "origin_fields": [
          "bk_category"
        ],
        "field_index": 19,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "类别",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "zh_name",
        "id": 626,
        "model_id": 41,
        "origin_fields": [
          "zh_name"
        ],
        "field_index": 20,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "中文名",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "bk_set_name",
        "id": 636,
        "model_id": 41,
        "origin_fields": [
          "bk_set_name"
        ],
        "field_index": 21,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "集群名",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "bk_parent_id",
        "id": 637,
        "model_id": 41,
        "origin_fields": [
          "bk_parent_id"
        ],
        "field_index": 22,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "父实体id",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "bk_biz_id",
        "id": 638,
        "model_id": 41,
        "origin_fields": [
          "bk_biz_id"
        ],
        "field_index": 23,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "业务id",
        "field_constraint_content": null,
        "field_type": "int"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "bk_uniq_id",
        "id": 639,
        "model_id": 41,
        "origin_fields": [
          "bk_uniq_id"
        ],
        "field_index": 24,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "唯一id",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "IDC",
        "id": 640,
        "model_id": 41,
        "origin_fields": [
          "IDC"
        ],
        "field_index": 25,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "idc机房",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "bk_svc_name",
        "id": 641,
        "model_id": 41,
        "origin_fields": [
          "bk_svc_name"
        ],
        "field_index": 26,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "服务名",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "default",
        "id": 642,
        "model_id": 41,
        "origin_fields": [
          "default"
        ],
        "field_index": 27,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "默认",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "bk_chn_name",
        "id": 643,
        "model_id": 41,
        "origin_fields": [
          "bk_chn_name"
        ],
        "field_index": 28,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "cdn名称",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "set_template_id",
        "id": 644,
        "model_id": 41,
        "origin_fields": [
          "set_template_id"
        ],
        "field_index": 29,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "集群模版id",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "bk_supplier_account",
        "id": 645,
        "model_id": 41,
        "origin_fields": [
          "bk_supplier_account"
        ],
        "field_index": 30,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "服务商账号",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "bk_set_id",
        "id": 648,
        "model_id": 41,
        "origin_fields": [
          "bk_set_id"
        ],
        "field_index": 31,
        "description": "SET唯一识别ID",
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": true,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "集群id",
        "field_constraint_content": null,
        "field_type": "int"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "bk_set_desc",
        "id": 649,
        "model_id": 41,
        "origin_fields": [
          "bk_set_desc"
        ],
        "field_index": 32,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "集群描述",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "bk_system",
        "id": 650,
        "model_id": 41,
        "origin_fields": [
          "bk_system"
        ],
        "field_index": 33,
        "description": null,
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "系统",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "customize",
        "id": 629,
        "model_id": 41,
        "origin_fields": [
          "customize"
        ],
        "field_index": 34,
        "description": "自定义字段集合，特殊业务或用户需要",
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "用户自定义字段",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "bkpub_collect_method",
        "id": 1087,
        "model_id": 41,
        "origin_fields": [
          "bkpub_collect_method"
        ],
        "field_index": 35,
        "description": "数据平台采集CMDB数据的类型：全量/监听",
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "采集类型",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "bkpub_collect_time",
        "id": 1088,
        "model_id": 41,
        "origin_fields": [
          "bkpub_collect_time"
        ],
        "field_index": 36,
        "description": "数据平台采集CMDB数据的时间\b",
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "采集时间",
        "field_constraint_content": null,
        "field_type": "long"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "bkpub_event_type",
        "id": 633,
        "model_id": 41,
        "origin_fields": [
          "bkpub_event_type"
        ],
        "field_index": 37,
        "description": "数据平台采集CMDB数据的类型：创建/更新",
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "事件类型",
        "field_constraint_content": null,
        "field_type": "string"
      },
      {
        "join_field_name": null,
        "source_field_name": null,
        "field_name": "__time__",
        "id": 647,
        "model_id": 41,
        "origin_fields": [],
        "field_index": 38,
        "description": "平台内置时间字段，数据入库后将转换为可查询字段，比如 dtEventTime、dtEventTimeStamp、localtime",
        "is_extended_field": false,
        "field_clean_content": null,
        "is_join_field": false,
        "is_primary_key": false,
        "source_model_id": null,
        "field_category": "dimension",
        "field_alias": "时间字段",
        "field_constraint_content": null,
        "field_type": "timestamp"
      }
    ],
        "model_relation": [],
        "calculation_atoms": []
    },
    "description": "CMDB 集群信息",
    "tags": [
      {
        "tag_code": "property_config",
        "tag_alias": "属性配置"
      },
      {
        "tag_code": "c_tag_1613787103_840978_139730016561840",
        "tag_alias": "set"
      }
    ],
    "table_alias": "CMDB 集群信息",
    "model_alias": "CMDB 集群信息 维度模型",
    "table_name": "{{ model_name }}",
    "model_type": "dimension_table",
    "project_id": {{ project_id }},
    "model_name": "{{ model_name }}"
}