{
    "model_detail": {
        "indicators": [],
        "fields": [
            {
                "model_id": 61,
                "field_alias": "主机唯一识别ID",
                "description": "bk_host_id",
                "field_type": "int",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_host_id"
                ],
                "is_primary_key": true,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_host_id",
                "id": 1046,
                "field_index": 1,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "主机名称",
                "description": "bk_host_name",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_host_name"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_host_name",
                "id": 1007,
                "field_index": 2,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "业务ID",
                "description": "",
                "field_type": "int",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_biz_id"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_biz_id",
                "id": 1017,
                "field_index": 3,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "主机关系数据，字典格式",
                "description": null,
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_relations"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_relations",
                "id": 1010,
                "field_index": 4,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "云区ID",
                "description": "bk_cloud_id",
                "field_type": "int",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_cloud_id"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": {
                    "clean_option": "SQL",
                    "clean_content": "-- 功能：通过 if()、CASE WHEN 等方式加工字段\n-- 示例 1：字段映射\n/**\n-- case\n--           when country='香港' then '中国香港'\n--           when country='澳门' then '中国澳门' \n--           when country='台湾' then '中国台湾' \n--           else country \n-- end as country\n**/\n-- 示例 2：结果数据表中不存在数据模型中定义的字段\n-- 2 as uid_type\n\ncase\n          when bk_cloud_id is null  then 0\n          else bk_cloud_id \nend as bk_cloud_id"
                },
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_cloud_id",
                "id": 1062,
                "field_index": 5,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_isp_name",
                "description": "bk_isp_name",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_isp_name"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_isp_name",
                "id": 1042,
                "field_index": 6,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "domain",
                "description": "domain",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "domain"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "domain",
                "id": 1043,
                "field_index": 7,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "net_struct_id",
                "description": "net_struct_id",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "net_struct_id"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "net_struct_id",
                "id": 999,
                "field_index": 8,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_os_name",
                "description": "bk_os_name",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_os_name"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_os_name",
                "id": 1044,
                "field_index": 9,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "srv_out_band_manage_type",
                "description": "srv_out_band_manage_type",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "srv_out_band_manage_type"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "srv_out_band_manage_type",
                "id": 1045,
                "field_index": 10,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_province_name",
                "description": "bk_province_name",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_province_name"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_province_name",
                "id": 1000,
                "field_index": 11,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "import_from",
                "description": "import_from",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "import_from"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "import_from",
                "id": 1001,
                "field_index": 12,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_cpu",
                "description": "bk_cpu",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_cpu"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_cpu",
                "id": 998,
                "field_index": 13,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_os_version",
                "description": "bk_os_version",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_os_version"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_os_version",
                "id": 1002,
                "field_index": 14,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "group_name",
                "description": "group_name",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "group_name"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "group_name",
                "id": 1003,
                "field_index": 15,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_disk",
                "description": "bk_disk",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_disk"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_disk",
                "id": 1004,
                "field_index": 16,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "create_time",
                "description": "create_time",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "create_time"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "create_time",
                "id": 1048,
                "field_index": 17,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "hard_memo",
                "description": "hard_memo",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "hard_memo"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "hard_memo",
                "id": 1049,
                "field_index": 18,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "svr_device_class",
                "description": "svr_device_class",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "svr_device_class"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "svr_device_class",
                "id": 1030,
                "field_index": 19,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "operator",
                "description": "operator",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "operator"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "operator",
                "id": 1047,
                "field_index": 20,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "sub_zone_id",
                "description": "sub_zone_id",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "sub_zone_id"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "sub_zone_id",
                "id": 1050,
                "field_index": 21,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "net_device_id",
                "description": "net_device_id",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "net_device_id"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "net_device_id",
                "id": 1034,
                "field_index": 22,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "last_time",
                "description": "last_time",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "last_time"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "last_time",
                "id": 1008,
                "field_index": 23,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_host_innerip",
                "description": "bk_host_innerip",
                "field_type": "string",
                "field_constraint_content": {
                    "groups": [
                        {
                            "items": [
                                {
                                    "constraint_id": "regex",
                                    "constraint_content": "^((1?\\d{1,2}|2[0-4]\\d|25[0-5])[.]){3}(1?\\d{1,2}|2[0-4]\\d|25[0-5])(,((1?\\d{1,2}|2[0-4]\\d|25[0-5])[.]){3}(1?\\d{1,2}|2[0-4]\\d|25[0-5]))*$"
                                }
                            ],
                            "op": "AND"
                        }
                    ],
                    "op": "AND"
                },
                "origin_fields": [
                    "bk_host_innerip"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_host_innerip",
                "id": 1009,
                "field_index": 24,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "idc_unit_name",
                "description": "idc_unit_name",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "idc_unit_name"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "idc_unit_name",
                "id": 1032,
                "field_index": 25,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "raid_name",
                "description": "raid_name",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "raid_name"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "raid_name",
                "id": 1065,
                "field_index": 26,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_comment",
                "description": "bk_comment",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_comment"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_comment",
                "id": 1011,
                "field_index": 27,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "iFix",
                "description": "iFix",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "iFix"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "iFix",
                "id": 1068,
                "field_index": 28,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "dept_name",
                "description": "dept_name",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "dept_name"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "dept_name",
                "id": 1012,
                "field_index": 29,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "srv_status",
                "description": "srv_status",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "srv_status"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "srv_status",
                "id": 1053,
                "field_index": 30,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_sn",
                "description": "bk_sn",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_sn"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_sn",
                "id": 1077,
                "field_index": 31,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "svr_type_name",
                "description": "svr_type_name",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "svr_type_name"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "svr_type_name",
                "id": 1054,
                "field_index": 32,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_os_bit",
                "description": "bk_os_bit",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_os_bit"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_os_bit",
                "id": 1055,
                "field_index": 33,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "idc_id",
                "description": "idc_id",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "idc_id"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "idc_id",
                "id": 1056,
                "field_index": 34,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_cloud_inst_id",
                "description": "bk_cloud_inst_id",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_cloud_inst_id"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_cloud_inst_id",
                "id": 1057,
                "field_index": 35,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "net_struct_name",
                "description": "net_struct_name",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "net_struct_name"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "net_struct_name",
                "id": 1013,
                "field_index": 36,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_outer_mac",
                "description": "bk_outer_mac",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_outer_mac"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_outer_mac",
                "id": 1014,
                "field_index": 37,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "classify_level_name",
                "description": "classify_level_name",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "classify_level_name"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "classify_level_name",
                "id": 1059,
                "field_index": 38,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "sub_zone",
                "description": "sub_zone",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "sub_zone"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "sub_zone",
                "id": 1051,
                "field_index": 39,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "rack_id",
                "description": "rack_id",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "rack_id"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "rack_id",
                "id": 1015,
                "field_index": 40,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "raid_id",
                "description": "raid_id",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "raid_id"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "raid_id",
                "id": 1016,
                "field_index": 41,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "logic_domain_id",
                "description": "logic_domain_id",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "logic_domain_id"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "logic_domain_id",
                "id": 1029,
                "field_index": 42,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_asset_id",
                "description": "bk_asset_id",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_asset_id"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_asset_id",
                "id": 1019,
                "field_index": 43,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "module_name",
                "description": "module_name",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "module_name"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "module_name",
                "id": 1038,
                "field_index": 44,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "logic_domain",
                "description": "logic_domain",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "logic_domain"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "logic_domain",
                "id": 1018,
                "field_index": 45,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "outer_switch_port",
                "description": "outer_switch_port",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "outer_switch_port"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "outer_switch_port",
                "id": 1061,
                "field_index": 46,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_bak_operator",
                "description": "bk_bak_operator",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_bak_operator"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_bak_operator",
                "id": 1035,
                "field_index": 47,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "clb_vip",
                "description": "clb_vip",
                "field_type": "string",
                "field_constraint_content": {
                    "groups": [
                        {
                            "items": [
                                {
                                    "constraint_id": "regex",
                                    "constraint_content": "^((1?\\d{1,2}|2[0-4]\\d|25[0-5])[.]){3}(1?\\d{1,2}|2[0-4]\\d|25[0-5])(,((1?\\d{1,2}|2[0-4]\\d|25[0-5])[.]){3}(1?\\d{1,2}|2[0-4]\\d|25[0-5]))*$"
                                }
                            ],
                            "op": "AND"
                        }
                    ],
                    "op": "AND"
                },
                "origin_fields": [
                    "clb_vip"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "clb_vip",
                "id": 1020,
                "field_index": 48,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "svr_id",
                "description": "svr_id",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "svr_id"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "svr_id",
                "id": 1063,
                "field_index": 49,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_sla",
                "description": "bk_sla",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_sla"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_sla",
                "id": 1021,
                "field_index": 50,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_cpu_mhz",
                "description": "bk_cpu_mhz",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_cpu_mhz"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_cpu_mhz",
                "id": 1064,
                "field_index": 51,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "outer_network_segment",
                "description": "outer_network_segment",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "outer_network_segment"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "outer_network_segment",
                "id": 1041,
                "field_index": 52,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "inner_switch_port",
                "description": "inner_switch_port",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "inner_switch_port"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "inner_switch_port",
                "id": 1022,
                "field_index": 53,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_host_outerip",
                "description": "bk_host_outerip",
                "field_type": "string",
                "field_constraint_content": {
                    "groups": [
                        {
                            "items": [
                                {
                                    "constraint_id": "regex",
                                    "constraint_content": "^((1?\\d{1,2}|2[0-4]\\d|25[0-5])[.]){3}(1?\\d{1,2}|2[0-4]\\d|25[0-5])(,((1?\\d{1,2}|2[0-4]\\d|25[0-5])[.]){3}(1?\\d{1,2}|2[0-4]\\d|25[0-5]))*$"
                                }
                            ],
                            "op": "AND"
                        }
                    ],
                    "op": "AND"
                },
                "origin_fields": [
                    "bk_host_outerip"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_host_outerip",
                "id": 1023,
                "field_index": 54,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_cloud_vendor",
                "description": "bk_cloud_vendor",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_cloud_vendor"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_cloud_vendor",
                "id": 1024,
                "field_index": 55,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_supplier_account",
                "description": "bk_supplier_account",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_supplier_account"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_supplier_account",
                "id": 1025,
                "field_index": 56,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_cloud_host_status",
                "description": "bk_cloud_host_status",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_cloud_host_status"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_cloud_host_status",
                "id": 1027,
                "field_index": 57,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_os_type",
                "description": "bk_os_type",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_os_type"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_os_type",
                "id": 1028,
                "field_index": 58,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "inner_network_segment",
                "description": "inner_network_segment",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "inner_network_segment"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "inner_network_segment",
                "id": 1067,
                "field_index": 59,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_bs_info",
                "description": "bk_bs_info",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_bs_info"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_bs_info",
                "id": 1052,
                "field_index": 60,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "svr_out_band_type",
                "description": "svr_out_band_type",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "svr_out_band_type"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "svr_out_band_type",
                "id": 1031,
                "field_index": 61,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "idc_city_name",
                "description": "idc_city_name",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "idc_city_name"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "idc_city_name",
                "id": 1069,
                "field_index": 62,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "is_special",
                "description": "is_special",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "is_special"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "is_special",
                "id": 1070,
                "field_index": 63,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "svr_device_id",
                "description": "svr_device_id",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "svr_device_id"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "svr_device_id",
                "id": 1033,
                "field_index": 64,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_mac",
                "description": "bk_mac",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_mac"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_mac",
                "id": 1071,
                "field_index": 65,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "srv_important_level",
                "description": "srv_important_level",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "srv_important_level"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "srv_important_level",
                "id": 1072,
                "field_index": 66,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "idc_unit_id",
                "description": "idc_unit_id",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "idc_unit_id"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "idc_unit_id",
                "id": 1005,
                "field_index": 67,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "idc_city_id",
                "description": "idc_city_id",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "idc_city_id"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "idc_city_id",
                "id": 1073,
                "field_index": 68,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "svr_input_time",
                "description": "svr_input_time",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "svr_input_time"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "svr_input_time",
                "id": 1074,
                "field_index": 69,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "svr_first_time",
                "description": "svr_first_time",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "svr_first_time"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "svr_first_time",
                "id": 1036,
                "field_index": 70,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_state",
                "description": "bk_state",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_state"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_state",
                "id": 1075,
                "field_index": 71,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "svr_type_id",
                "description": "svr_type_id",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "svr_type_id"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "svr_type_id",
                "id": 1076,
                "field_index": 72,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_state_name",
                "description": "bk_state_name",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_state_name"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_state_name",
                "id": 1066,
                "field_index": 73,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_cpu_module",
                "description": "bk_cpu_module",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_cpu_module"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_cpu_module",
                "id": 1039,
                "field_index": 74,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "rack",
                "description": "rack",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "rack"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "rack",
                "id": 1040,
                "field_index": 75,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "bk_mem",
                "description": "bk_mem",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bk_mem"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bk_mem",
                "id": 1006,
                "field_index": 76,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "采集事件：新增、删除、更新",
                "description": "bkpub_event_type",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bkpub_event_type"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bkpub_event_type",
                "id": 1060,
                "field_index": 77,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "采集时间",
                "description": "bkpub_collect_time",
                "field_type": "long",
                "field_constraint_content": null,
                "origin_fields": [
                    "bkpub_collect_time"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bkpub_collect_time",
                "id": 1026,
                "field_index": 78,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "采集方式：批量、增量",
                "description": "bkpub_collect_method",
                "field_type": "string",
                "field_constraint_content": null,
                "origin_fields": [
                    "bkpub_collect_method"
                ],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "bkpub_collect_method",
                "id": 1058,
                "field_index": 79,
                "source_field_name": null
            },
            {
                "model_id": 61,
                "field_alias": "时间字段",
                "description": "平台内置时间字段，数据入库后将转换为可查询字段，比如 dtEventTime、dtEventTimeStamp、localtime",
                "field_type": "timestamp",
                "field_constraint_content": null,
                "origin_fields": [],
                "is_primary_key": false,
                "is_join_field": false,
                "is_extended_field": false,
                "field_clean_content": null,
                "source_model_id": null,
                "join_field_name": null,
                "field_category": "dimension",
                "field_name": "__time__",
                "id": 1037,
                "field_index": 80,
                "source_field_name": null
            }
        ],
        "model_relation": [],
        "calculation_atoms": []
    },
    "description": "CMDB 业务主机信息",
    "tags": [
        {
            "tag_alias": "主机",
            "tag_code": "host"
        },
        {
            "tag_alias": "硬件/资源拓扑",
            "tag_code": "hardware_topology"
        },
        {
            "tag_alias": "属性配置",
            "tag_code": "property_config"
        }
    ],
    "table_alias": "CMDB 业务主机信息",
    "model_alias": "CMDB 业务主机信息",
    "table_name": "{{ model_name }}",
    "model_type": "dimension_table",
    "project_id": {{ project_id }},
    "model_name": "{{ model_name }}"
}