-c ../upizza/requirements.txt
Django==2.2.20
django-filter==2.4.0
djangorestframework==3.12.4
gevent==20.9.0
gunicorn==19.6.0
pymysql==1.0.2
pytz==2021.1
requests==2.22.0
supervisor==4.2.1
uwsgi==2.0.19
redis==2.10.5
httplib2==0.7.3
celery==4.4.7
django-celery-results==1.2.1
django-celery-beat==2.0.0
pycrypto==2.6.1
django-reversion==2.0.9
enum34==1.1.6
six==1.15.0
django_opentracing==1.1.0
jaeger-client==4.3.0
opentracing_instrumentation==3.3.1
urllib3==1.25.11
django-redis==4.10.0
portalocker==2.3.0
elasticsearch==6.3.1
influxdb==5.2.1
kafka-python==1.4.2
sqlparse==0.4.1
confluent-kafka==1.5.0
pandas==0.24.2
pyarrow==0.16.0
pyhdfs==0.2.2
fastavro==0.14.2
pytest-ordering==0.6
transitions==0.8.5
dictdiffer==0.8.1
deepdiff==3.3.0

# 自研包
metadata_sdk==0.3.3