*.egg-info
*.pot
*.py[co]
*.swp
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
build/
templates_module/
stream/extend/support/release/stream*
stream/support/debug/*.kill
stream/support/debug/*.json
stream/extend/support/tmp/*
/tests_backup/stream/reports
/tests_backup/stream/*/reports
.project
.pydevproject
.vscode
.DS_Store
.idea

dev/flow_settings.py
dev/local_settings.py
venv/
reports
*.pytest_cache
