-c ./local_requirements.txt

about_time ; python_version >= '3.6'
arpeggio ; python_version >= '3.6'
arrow ; python_version >= '3.6'
attrdict ; python_version >= '3.6'
attr ; python_version >= '3.6'
attrs ; python_version >= '3.6'
babel ; python_version >= '3.6'
backports.functools-lru-cache; python_version>='3.6'
boto3 ; python_version >= '3.6'
boto ; python_version >= '3.6'
botocore ; python_version >= '3.6'
bz2file ; python_version >= '3.6'
cached-property ; python_version >= '3.6'
cattrs ; python_version >= '3.6'
certifi ; python_version >= '3.6'
chardet ; python_version >= '3.6'
click ; python_version >= '3.6'
configparser;python_version>='3.6'
contextlib2;python_version>='3.6'
decorator ; python_version >= '3.6'
diskcache ; python_version >= '3.6'
docutils ; python_version >= '3.6'
enum34 ; python_version >= '3.6'
flask ; python_version >= '3.6'
#functools32; python_version>='3.6'
futures; python_version>='3.6'
gensim ; python_version >= '3.6'
getmac ; python_version >= '3.6'
gevent ; python_version >= '3.6'
gipc ; python_version >= '3.6'
greenlet ; python_version >= '3.6'
huey ; python_version >= '3.6'
idna ; python_version >= '3.6'
importlib-metadata ; python_version >= '3.6'
inflect ; python_version >= '3.6'
invoke ; python_version >= '3.6'
itsdangerous ; python_version >= '3.6'
jieba ; python_version >= '3.6'
jinja2 ; python_version >= '3.6'
jmespath ; python_version >= '3.6'
jsonext ; python_version >= '3.6'
kafka-python ; python_version >= '3.6'
kazoo ; python_version >= '3.6'
lazy-import ; python_version >= '3.6'
markupsafe ; python_version >= '3.6'
more-itertools ; python_version >= '3.6'
networkx ; python_version >= '3.6'
nltk ; python_version >= '3.6'
numpy ; python_version >= '3.6'
pandas ; python_version >= '3.6'
parse ; python_version >= '3.6'
pathlib2 ; python_version >= '3.6'
portalocker ; python_version >= '3.6'
psutil ; python_version >= '3.6'
py ; python_version >= '3.6'
pycrypto ; python_version >= '3.6'
pyenchant ; python_version >= '3.6'
pymysql ; python_version >= '3.6'
python-dateutil ; python_version >= '3.6'
pytz ; python_version >= '3.6'
redis ; python_version >= '3.6'
#redislite ; python_version >= '3.6'
requests-toolbelt ; python_version >= '3.6'
requests ; python_version >= '3.6'
retry ; python_version >= '3.6'
s3transfer ; python_version >= '3.6'
scandir ; python_version >= '3.6'
scikit-learn ; python_version >= '3.6'
scipy ; python_version >= '3.6'
simplejson ; python_version >= '3.6'
singledispatch ; python_version >= '3.6'
six ; python_version >= '3.6'
smart-open ; python_version >= '3.6'
speaklater3 ; python_version >= '3.6'
sqlacodegen ; python_version >= '3.6'
sqlalchemy-utils ; python_version >= '3.6'
sqlalchemy ; python_version >= '3.6'
tinyrpc ; python_version >= '3.6'
tblib ; python_version >= '3.6'
textx ; python_version >= '3.6'
typing ; python_version >= '3.6'
urllib3 ; python_version >= '3.6'
uwsgi ; python_version >= '3.6'
walrus ; python_version >= '3.6'
werkzeug ; python_version >= '3.6'
cachelib ; python_version >= '3.6'
wordsegment ; python_version >= '3.6'
zipp ; python_version >= '3.6'
kombu ; python_version >= '3.6'
concurrent_log_handler; python_version >= '3.6'
