*.egg-info
*.pot
*.py[co]
*.swp
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
build/
templates_module/
stream/support/release/stream*
stream/support/debug/*.kill
stream/support/debug/*.json
.project
.pydevproject
.vscode
.DS_Store
.idea

dev/flow_settings.py
