attrs==20.3.0
Django==2.2.20
djangorestframework==3.12.4
pymysql==1.0.2
pycrypto==2.6.1
celery==4.4.7
django-celery-results==1.2.1
django-celery-beat==2.0.0
kazoo==2.5.0
opentracing==2.3.0
django_opentracing==1.1.0
jaeger-client==4.3.0
opentracing_instrumentation==3.3.1
gevent==20.9.0
concurrent-log-handler==0.9.19
uWSGI==2.0.19
gunicorn==19.6.0
requests==2.22.0
PyJWT==1.7.1
cryptography==2.7
supervisor==4.2.1
bkbase-crypt==1.0.0
environs==9.3.2